/*global style reset */
*{
    margin: 0;
    padding: 0;
}
/*style for body */
body{
    min-height: 100vh;
    background-color:darkblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/*style for nav */
nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255,);

    /* Glassmorphism Effect */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    
}
/*style for nav unordered list */
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}
/*style for nav list items */
nav li{
    height: 50px;
}
/*style for nav links */
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: whitesmoke;
}

/*hover effect for nav links */
nav a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/*style for first nav list item to align left */
nav li:first-child {
    margin-right: auto;
}

        

        .container {
            max-width: 900px;
            margin: 40px auto;
            background: #0f3a6c;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            margin-top: 110px;
        }

        .product {
            display: flex;
            gap: 30px;
        }

        .product img {
            width: 300px;
            height: 450px;
            border-radius: 10px;
            background-image: url(Cars2BA.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .details {
            color: #fafafafa;
        }
        .details h1 {
            margin: 0;
            font-size: 28px;
            color: #fafafafa;
        }

        .price{
            color: #b30000;
            font-size: 26px;
            margin: 10px 0;
            color: #fafafafa;
        }

        .sprice {
            color: #b30000;
            font-size: 26px;
            margin: 10px 0;
            color: #fafafafa;
            text-decoration: line-through;
            text-decoration-style:double ;
            text-decoration-color:red ;
        }

        button {
            background: #ff3b3b;
            border: none;
            padding: 12px 25px;
            border-radius: 6px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            color: #fafafafa;
        }

        button:hover {
            background: #c50000;
        }

        .description
       {color: #fafafafa;
        margin-bottom: 30px;} 
    
        .trailer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            border-radius: 10px;
            padding: 10px;
        }
        .status{
            color: #00ff00;
            font-weight: bold;
            text-decoration: double underline;
        }
            
   